# Configuração de Banco de Dados
DATABASE_URL=jdbc:postgresql://localhost:5432/ms_academico
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres

# Configuração de Servidor
SERVER_PORT=8081

# Configuração de JPA/Hibernate
JPA_DDL_AUTO=update

# Configuração de Eureka Service Discovery
EUREKA_CLIENT_REGISTER_WITH_EUREKA=false
EUREKA_CLIENT_FETCH_REGISTRY=false
EUREKA_SERVER_URL=http://localhost:8761/eureka
